body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
}

.navbar {
  border: 1px solid lightgray;
  margin: 0;
  display: flex;
  align-items: center;
}

.mg-r {
  margin-right: 50px;
}

.mg-l {
  margin-left: 30px;
}

.navbar input {
  width: 400px;
  height: 30px;
  border-radius: 20px;
  border: 2px solid black;
  margin-left: 150px;
}

.navbar input[type="text"]:focus {
  outline: none;
}

.navbar .icons {
  margin-left: 200px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  /* height: 89vh; */
  border-right: 1px solid lightgray;
  align-items: center;
}

.hr {
  border-bottom: 1px solid lightgray;
}

.container {
  display: grid;
  grid-template: 10fr 90fr / 20fr 80fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  border: 1px solid lightgray;
  gap: 5px;
  align-items: stretch;
}

header {
  grid-column: 1/3;
}

footer {
  background-color: tomato;
  grid-column: 1/3;
  height: 100px;
}

section {
  width: 20vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-area: main;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.grid-item {
  margin: 10px;
}

.grid-item img {
  width: 330px;
  height: 200px;
}
